<h2>Start tracking courses</h2>
<%= simple_form_for @student, html: { class: 'form-vertical' } do |f| %>
  <%= f.label :email, required: false, class: 'inline_label' %> &nbsp; <%= link_to 'SMS for $3', 'https://gumroad.com/l/KdmJ' %>
  <%= f.input :email, required: false, label: false %>
  <%= f.input :course_tokens, required: false, label: "Courses" %>
  <%= f.submit "Start tracking", class: "btn btn-custom btn-large", style: "margin-top: 10px" %>
<% end %>

<%= content_for :sidebar do %>
  <h3>Quick Hits</h3>
  <p>A course tracking system that makes registering for full college classes a breeze. </p>
  <p>Tell us your favorite courses and we'll watch them for you. </p>
  <p>Next time one of your favorites opens, we'll shoot you an email.</p>
  <br />
  <p>Created by <a href="http://jmondo.com/">John Gesimondo ‘12</a></p>
<% end %>
