<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <title><%= yield(:title) %></title>

    <meta name="description" content="<%= yield(:description) || "PROJECT DESCRIPTION" %>" />
    <meta name="keywords" content="<%= yield(:keywords) || "PROJECT KEYWORDS" %>" />
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <!--[if lte IE 7]><%= stylesheet_link_tag "ie7" %><![endif]-->

    <%= yield :extra_header %>
  </head>
  <body class="<%= body_class %>">
    <div class="container">

      <div class="content">
        <div class="page-header">
          <a href="/"><h1>ClassTrack <small>Relax. We're watching your classes.</small></h1></a>
        </div>
        <div class="row">
          <% if yield(:sidebar).present? %>
            <div class="span6 main-column">
          <% else %>
            <div class="span13">
          <% end %>

          <%= render :partial => 'layouts/flashes' -%>

          <%= yield %>
          </div>

          <% if yield(:sidebar).present? %>
            <div class="span3 right-column">
              <%= yield :sidebar %>
            </div>
          <% end %>


        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20518270-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </body>
</html>
