<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <title>Classtrack: We're watching your classes</title>

    <meta name="description" content="<%= yield(:description) || "PROJECT DESCRIPTION" %>" />
    <meta name="keywords" content="<%= yield(:keywords) || "PROJECT KEYWORDS" %>" />
    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application" %>

    <%= yield :extra_header %>
  </head>
  <body class="<%= body_class %>">
    <div class="container container-fixed">

      <div class="content">
        <div class="page-header">
          <a href="/"><h1>ClassTrack <small>Relax. We're watching your classes.</small></h1></a>
        </div>
        <div class="row">
          <% if yield(:sidebar).present? %>
            <div class="span5 main-column">
          <% else %>
            <div class="span9">
          <% end %>

          <%= render :partial => 'layouts/flashes' -%>

          <%= yield %>
          </div>

          <% if yield(:sidebar).present? %>
            <div class="span3 right-column">
              <%= yield :sidebar %>
            </div>
          <% end %>


        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20518270-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <% if current_student %>
      <script>
        var intercomSettings = {
          app_id: 'gjrih5t6',
          email: '<%== current_student[:email] %>', // TODO: User's e-mail address
          created_at: <%== current_student[:created_at].to_i %> // TODO: User's sign-up date, Unix timestamp
        };

        (function() {
          function async_load() {
            var s = document.createElement('script');
            s.type = 'text/javascript'; s.async = true;
            s.src = 'https://api.intercom.io/api/js/library.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
          }
          if (window.attachEvent) {
            window.attachEvent('onload', async_load);
          } else {
            window.addEventListener('load', async_load, false);
          }
        })();
      </script>
    <% end %>
  </body>
</html>
